<!DOCTYPE html>
<title> {{post.title}} </title>
<body>
    <div class="header">
        {% load static %}
        <img src="{% static 'img/dpb-logo.png' %}">
        <h2 class="exit"><a href="/articles/">Все статьи</a></h2>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </div>
    <div class="article">
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
        </div>
        <p class="article-text">{{ post.text }}</p>
    </div>
</body>